!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "google", :value => "notranslate"}
    %meta{:content => "en", "http-equiv" => "Content-Language"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Hacker News Kansai Meetup
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %link{:href => "http://fonts.googleapis.com/css?family=Bitter:400,700,400italic", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "javascripts/modernizer.js"}
    %link{:href => "stylesheets/screen.css", :rel => "stylesheet"}
  %body.en
    .language-toggle
      %a{:href=>"#en", :class=>"en"} English
      %a{:href=>"#jp", :class=>"jp"} 日本語
    .container
      %a.hnkansai{:href => "/"} HNKansai
      %h1.logo-hack
        %img{:src => '/images/kansai_hack_logo.png', :alt => 'Kansai Hack'}
      .card
        .en-content.content
          %p.intro KansaiHack is a one-day hackathon in Kyoto. <br/>A chance for people all over Kansai to get together and create something new. 
          %ul.links.register
            %li
              %a{:href => "http://hnkansai.doorkeeper.jp/events/3017", :target => "_blank"} Register
          %section.what
            %h3 What?
            %p A hackathon is an event where people form small teams to try and create a new project in a short amount of time. 
          %section.when
            %h3 When?
            %p April 20th, 2013<br/>9 am - 9 pm. 
          %section.where
            %h3 Where? 
            %p <a href="https://maps.google.com/maps?q=vitei&hl=en&sll=35.003953,135.758218&sspn=0.006002,0.010386&hq=vitei&t=m&z=17">Vitei</a>, 10F Yasaka Shijo Karasuma Bldg.,<br/> Kankoboko-cho 79 Shimogyo-ku, <br/>Kyoto 600-8009, Japan
          %section.why
            %h3 Why?
            %p To meet new people, learn new things, and finally work on that project you've always wanted to do.
          %section.who
            %h3 Who?
            %p KansaiHack is organized by the <a href="/">HNKansai</a> team.            
          %footer
            Questions? Ideas? Want to say hi? <a href="mailto:hello@hnkansai.org">Contact us</a>.          
        .jp-content.content
          %p.intro KansaiHack京都とは一日中のハッカソンということです。関西にいるの皆さんを集まって何か新しいものを作成するのチャンスです。
          %ul.links.register
            %li
              %a{:href => "http://hnkansai.doorkeeper.jp/events/3017", :target => "_blank"} 登録する
          %section.what
            %h3 何ですか？
            %p 開発テーマの技術に興味のある人等が、会議室やソファーがある場所などに集まり、みんなで一緒にソフトウェアやハードウェアをハックしまくって楽しみ、最後に開発したアプリケーションやサービスを参加者全員の前で紹介する
          %section.when
            %h3 いつ？
            %p 2013年4月20日<br/>午前9時 - 午後9時。
          %section.where
            %h3 どこで？
            %p <a href="https://maps.google.com/maps?q=vitei&hl=en&sll=35.003953,135.758218&sspn=0.006002,0.010386&hq=vitei&t=m&z=17">Vitei</a>、10Fヤサカ四条烏丸ビル<br/>函谷鉾町79下京区<br/>京都市600-8009
          %section.why
            %h3 なぜ？
            %p 新しい人々と出会うために、新しいことを学び、最終的にあなたが常にやりたかったそのプロジェクトに取り組む。
          %section.who
            %h3 誰ですか？
            %p KansaiHackは<a href="/">HNKansai</a>チームが編成されています。        
          %footer
            質問はありますか？アイデア？挨拶をしてみませんか？<a href="mailto:hello@hnkansai.org">声をかけてください</a>。
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.8.0.min.js"><\/script>')
    %script{:src => "javascripts/main.js"}
    %script{:src => "//static.getclicky.com/js", :type => "text/javascript"}
    :javascript
      try{ clicky.init(100537079); }catch(e){}
    %noscript
      %p
        %img{:alt => "Clicky", :height => "1", :src => "//in.getclicky.com/100537079ns.gif", :width => "1"}/
